<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Books</title>
    <head>
        <body>
            <ul>
                <h1>Favorite Books</h1>
                <li>
                    The Curse of the Mogul: What's Wrong with the World's Leading Media Companies, Jonathan Knee, Bruce Greenwald, Ava Seave
                </li>>
                <l1>Troublemakers: Silicon Valley's Coming of Age, Leslie Berlin</l1>
                <l1>Black Swan, Nassim Nikolai Taleb</l1>

                <l1>Thinking Fast And Slow, Daniel Kahneman</l1>
                <l1>Shoe Dog, Phil Knight</l1>

                <l1>The Rise of Surveillance Capitalism: The Fight for a Human Future at the New Frontier of Power, Shoshana Zuboff</l1>

                <l1>Zero To One: Notes on Startups, or How to Build the Future, Peter Theil</l1>
                                
            </ul>
        </body>
</html>