<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>CS Classes I'v Taken</title>
    <head>
        <body>
            <ul>
                <h1>CS Classes</h1>
                <li>CS Theory</li>>
                <l1>AP</l1>
                <l1>Networks</l1>

                <l1>Machine Learning</l1>
                <l1>NLP</l1>

                <l1>Analysis of Algos</l1>

                <l1>Computer Vision</l1>
                                
            </ul>
        </body>
</html>