<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <h1>Welcome to My Website</h1>
    <p>I'm Rahul Kataria a junior studying CS at Columbia University. </p>
    <img src="{{url_for('static', filename='Photo-Applying.jpg')}}" alt="Girl in a jacket">
    <a href="/books">My Favorite Books</a>
    <a href="/classes">My CS Classes</a>
    <a href="https://www.google.com">Favorite Website</a>
    </body>
</html>

